@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ethrome-yellow: "#fabb00";
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

html {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.section_frame {
  width: 100%;
  max-width: 100%;
  min-height: 810px;
}

.grain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/bg/grain.gif);
  mix-blend-mode: color-dodge;
  opacity: 12%;
  z-index: -1 !important;
}

.modanatura_cols {
  background-image: url(/img/decors/modanatura_cols.svg);
  background-position: left;
  object-fit: cover;
  background-repeat: repeat;
  mix-blend-mode: color-dodge;
  opacity: 0.08;
}

.modanatura_cols_roof {
  background-image: url(/img/decors/modanatura_cols_roof.svg);
  background-position: left;
  object-fit: cover;
  background-repeat: repeat;
  mix-blend-mode: color-dodge;
  opacity: 0.08;
}

.modanatura_sponsor_zone {
  background-image: url(/img/sponsor_zone/modanatura_sponsor_zone.svg);
  background-position: left;
  object-fit: cover;
  background-repeat: repeat;
  mix-blend-mode: color-dodge;
  opacity: 0.4;
}

.modanatura {
  background-image: url(/img/decors/modanatura.svg);
  background-position: left;
  object-fit: cover;
  background-repeat: repeat;
  mix-blend-mode: color-dodge;
}

.marquee_mobile {
  display: none !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 50% !important;
}

.marquee_desktop {
  display: none !important;
}

.absolute_info {
  background: linear-gradient(
      0deg,
      rgba(239, 235, 230, 0.12),
      rgba(239, 235, 230, 0.12)
    ),
    rgba(19, 8, 14, 0.8);
  background-blend-mode: color-dodge, color-dodge, normal;
  backdrop-filter: blur(12px);
  z-index: 9;
}

/**
* Hackathon
**/

.hackathon_frame {
  padding-top: 71px;
  padding-left: 24px;
  padding-right: 24px;
  gap: 64px;
}

/**
* Experience
**/

.experience_columns_box {
  justify-content: flex-end;
}

.experience_text_box {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */
  text-align: center;
  color: #14010c;
  /* background: #301320;*/
}

.experience_logo_svg {
  width: 81px;
  height: 81px;
  fill: none;
  stroke: #301320;
  stroke-width: 5px;
}

/**
* ETHRome23
**/

.location_bg {
  position: absolute;
  left: -7%;
  width: 115%;
  /* height: 810px; */
  height: 100%;
  max-height: 100%;
  background-image: url(/img/location/location.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.photogallery_button_box {
  padding-top: 1.25rem;
}

/**
* Location
**/

.location_gallery_swiper_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(19, 8, 14, 0.34),
    rgba(19, 8, 14, 0.34)
  );
}

/**
* Sponsor Zone
**/

.sponsor_zone_description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
}

.sponsor_zone_box_bg {
  background-color: rgba(42, 15, 28, 0.7);
}

.patrician_bg {
  background: #4f250e
    linear-gradient(
      45deg,
      rgba(250, 187, 0, 0.8) 0%,
      rgba(250, 187, 0, 0.24) 32%,
      rgba(250, 187, 0, 0.8) 42%,
      rgba(250, 187, 0, 0.14) 53%,
      rgba(250, 187, 0, 0.54) 69%,
      rgba(250, 187, 0, 0.24) 100%
    );
}

.citizen_bg {
  background: #8314c7
    linear-gradient(
      45deg,
      rgba(205, 55, 199, 0.8) 0%,
      rgba(205, 55, 199, 0.24) 32%,
      rgba(205, 55, 199, 0.8) 42%,
      rgba(205, 55, 199, 0.14) 53%,
      rgba(205, 55, 199, 0.54) 69%,
      rgba(205, 55, 199, 0.24) 100%
    );
}

.bountySponsor_bg {
  background: #3e3e3e
    linear-gradient(
      45deg,
      rgba(250, 187, 0, 0.8) 0%,
      rgba(250, 187, 0, 0.24) 32%,
      rgba(250, 187, 0, 0.8) 42%,
      rgba(250, 187, 0, 0.14) 53%,
      rgba(250, 187, 0, 0.54) 69%,
      rgba(250, 187, 0, 0.24) 100%
    );
  mix-blend-mode: luminosity;
}

/**
* Font
**/

.red_hat_display {
  font-family: var(--font-red-hat-display);
}

.outfit {
  font-family: var(--font-outfit);
  font-feature-settings: "ss01" on;
}

/**
**
* Desktop
**
**/

/**
* Ethrome23
**/

@media screen and (min-width: 1280px) {
  .section_frame {
    min-height: unset;
  }

  .aboveFold_items_box {
    flex-direction: row;
  }

  .marquee_desktop {
    display: flex !important;
  }

  /** Hackathon */

  .hackathon_frame {
    padding-top: 104px;
    padding-bottom: 205px;
    padding-left: 298px;
    padding-right: 298px;
    gap: 104px;
  }

  .hackathon_double_columns {
    left: 170px;
  }

  .photogallery_button_box {
    padding-top: 0;
  }
}

/**
**
* Adjustments
**
**/

@media screen and (min-width: 1024px) and (max-height: 810px) {
  .aboveFold_items_box {
    flex-direction: row;
  }

  .ethrome23_number_box {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hackathon_frame {
    padding-top: 54px;
    gap: 94px;
  }

  .hackathon_double_columns {
    left: 150px !important;
  }

  .experience_columns_box {
    justify-content: center;
  }

  .photogallery_button_box {
    padding-top: 0;
  }
}
